.section-m1 {
    margin: 40px 0;
  }
  
  body {
    width: 100%;
  }
  #header{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding:20px 80px;
    background:#e3e6f3;
    box-shadow:0 5px 15px rgba(0,0,0,0.00);
  }
  #navbar{
    display:flex;
    align-items:center;
    justify-content:center;
  }
  
  #navbar li{
    list-style:none;
    padding:0 20px;
  }